##############################################################
#                                                            #
###### CRIE UM ARQUIVO .env PARA COLOCAR ESSA ESTRUTURA ######
#                                                            #
##############################################################
NEXT_PUBLIC_SUPABASE_URL=https://ID-SERVIDOR.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=SERVICE_ROLE_KEY

JWT_ACCESS_SECRET=coloque_um_segredo_bem_grande_aqui
JWT_REFRESH_SECRET=coloque_outro_segredo_bem_grande_aqui

DATABASE_URL=postgresql://banco_dados:senha_banco@projeto_etc:6543/postgres?sslmode=require